<MarketplaceDetails>
  <SmallAppTile>icone-bussola-menor 300x300.png</SmallAppTile>
  <ScreenShots>Screen 480 x 800.png;;;;;;;;</ScreenShots>
  <ScreenShotsWXGA>Screen 768 x 1280.png;;;;;;;;</ScreenShotsWXGA>
  <ScreenShots720P>Screen 720 x 1280_720.png;;;;;;;;</ScreenShots720P>
</MarketplaceDetails>